.tituloJogo{
    text-align: center;
    width: 75%;
    margin: auto;
    font-size: 20px;
}

section{
    display: flex;
}

.game_container{
    margin-bottom: 50px;
}

.title_game{
    color:red
}


.wrongAnswer, .correctAnswer{
    opacity: 0.4
}



@media  screen and (max-width: 950px) {
    .game_container{
        flex-direction: column;
        width: 409px;
        margin: auto
    }

    .game_container > div{
        width: 412px;
    }

    .JogoImagem{
        max-width: 576px;
    }

    .tituloJogo{
        width: 100%;
    }
    

}