.tituloJogo{
    text-align: center;
    width: 72%;
    margin: auto;
    font-size: 20px;
}

.testetitulo{
    width: 72%;
    margin: auto;
    text-align: center;
   
}

.testetitulo_sb{
    width: 63%;
    margin: auto;
    text-align: center;
}

.testetitulo_sb > span{
    color: #4BC999
}



.testetitulo > span{
    color: #4BC999
}


.tituloClass{
    width: 70%;
}

section{
    display: flex;
}

.game_container{
    margin-bottom: 50px;
}

/* .title_game{
    color:red
} */

.result{
    margin: 200px auto auto auto;
    width: 50%;
}

.result > p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.result > p > span{
   color: #34ABE0;
}



.wrongAnswer, .correctAnswer{
    opacity: 0.4
}



@media  screen and (max-width: 950px) {
    .game_container{
        flex-direction: column;
        width: 409px;
        margin: auto
    }

    .game_container > div{
        width: 364px;
    }

    .JogoImagem{
        max-width: 576px;
    }

    .tituloJogo{
        width: 100%;
    }
    

}