.tituloJogo{
    text-align: center;
    width: 75%;
    margin: auto;
    font-size: 20px;
}

section{
    display: flex;
}

.game_container{
    margin-bottom: 50px;
}



.wrongAnswer, .rightAnswer{
    opacity: 0.4
}



@media  screen and (max-width: 950px) {
    .game_container{
        flex-direction: column;
        width: 69%;
        margin: auto
    }
    

}