.container{
    width: 315px;
    margin: 90px auto auto auto;
}

.JogoImagem_container{
    width: 600px;
    margin: auto;
}

.JogoImagem{
    width: 100%;
    max-width: 600px;
}

.coins_container{

}

.placa_imagem{
    width: 250px;
    margin: 100px auto auto auto;
}

.placa_imagem > img{
    max-width: 298px;
    width: 100%;
}
