.paragrafo_container{
    display:flex;
    width: 863px;
    margin: auto;
    justify-content: space-between;
}



.paragrafoTexto_introducao{
    text-align: justify;
    width: 421px;
}

.instrucao_imagens{
    display:flex;
    justify-content: space-between;
    width: 88%;
    margin: 50px auto 40px auto;
}

.presentationParking_container{
    width: 305px;
    margin: auto;

}

.presentationCar_container{
    width: 318px;
    margin: auto;
}

.estacionamento_container{
    margin: 23px auto auto auto;
    width: 300px;
}

.imagem_carroLaranja{
    max-width: 80px;
}

.imagem_placa{
    max-width: 300px;
    width: 100%;
}

.container_imagemCarro{
    width: 100px;
    margin: auto;
}

.container_imagemCarro > div{
    margin: auto;
    width: 90px;
    margin-top: 23px;
}



@media  screen and (max-width: 950px) {
    .paragrafo_container{
        flex-direction: column;
        width: 75%;
    }
    
    .paragrafoTexto_introducao{
        line-height: 26px;
        margin-bottom: 17px;
        width: 100%;
        font-size: 22px;
        text-align: justify;
    }

    .instrucao_imagens{
        flex-direction: column;
        /* width: 80%; */
    }

    .presentationParking_container{
        width: auto auto 50px auto;
    }

    .presentationCar_container{
        margin: 50px auto auto auto;
    }

    

}
