.paragrafo_container{
    display:flex;
    width: 911px;
    margin: auto;
    justify-content: space-between;
}

.instrucao_imagens{
    display:flex;
    width: 816px;
    margin: 50px auto auto auto;
}

.estacionamento_container{
    margin-top: 23px;
}

.imagem_carroLaranja{
    max-width: 80px;
}

.imagem_placa{
    max-width: 300px;
    width: 100%;
}

.container_imagemCarro{
    width: 318px;
}

.container_imagemCarro > div{
    margin: auto;
    width: 90px;
    margin-top: 23px;
}

@media  screen and (max-width: 950px) {
    .paragrafo_container{
        flex-direction: column;
        width: 75%;
    }
    
    .paragrafo_container > p{
        line-height: 26px;
        margin-bottom: 17px;
        width: 100%;
    }

    .instrucao_imagens{
        flex-direction: column;
        width: 34%;
    }

}
/* 
@media  screen and (max-width: 500px) {
    .paragrafo_container{
        
        width: 370px;
        height: 523px;
    }
    
    .paragrafo_container > p{
        width: 293px;
        
    }

} */