.container_input{
    text-align: center;
    margin: 20px auto 50px auto;
}

.container_input > input{
    padding: 4px;
    width: 224px;
    height: 23px;
    
}

.IntroducaoContent_texto{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}