.points_container{
    display:flex;
    justify-content: end;
    width: 92%;
    margin: 58px auto 50px auto
}


.coins_container{
    width: 41px;
}

.coins_container > img{
    max-width: 40px;
}

.points{
    width: 47px;
    height: 24px;
    margin-top: 7px;
    background-color: #FFFF;
    border-radius: 12px;
}

.points > p{
    text-align: center;
    font-weight: bold;
}